                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> API </h1>
                        <p class="title-description"> API Documentation</p>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Fuzzer API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-1">
                                                <label class="control-label">Method</label>
                                            </div>
                                            <div class="col-3">
                                                <p class="text-muted"> POST </p>
                                            </div>
                                            <div class="col-1">
                                                <label class="control-label">Path</label>
                                            </div>
                                            <div class="col-3">
                                                <p class="text-muted"> /api/v1/crash/upload </p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-1">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-1">
                                                <label class="control-label">Description</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash from client.</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-1">
                                                <label class="control-label">Usage</label>
                                            </div>
                                            <div class="col-10">
                                                <textarea rows="3" class="form-control boxed" onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>curl 'http://localhost:8000/storage/1' -H 'Connection: keep-alive' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' -H 'Upgrade-Insecure-Requests: 1' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8' -H 'Referer: http://localhost:8000/storage/' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7' -H 'Cookie: Pycharm-ea4a12e3=50376c55-86ff-4951-a2b4-fc43e404151c; _ga=GA1.1.1101676173.1526305699; csrftoken=JkY2ZcsvheVlKQHJo4JBQRIl5CK5FRtbEW4Ub0ESewgKUvjn2trPE9JPr7NlbvP0; sessionid=8cnee2es4vn10rn6irvimddcixvq3ehr; _gid=GA1.1.591779039.1526647306' --compressed</textarea>
                                            </div>
                                        </div>


                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Server API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Internal API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Storage API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                {% endblock %}