                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> API </h1>
                        <p class="title-description"> API Documentation</p>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Fuzzer API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Server API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Internal API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Storage API </h3>
                                        <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Upload Crash</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Update Information</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <label class="control-label">Ping</label>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> Upload crash </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                {% endblock %}