                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> Crash </h1>
                        <p class="title-description"> Manage your crashes!</p>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title-block">
                                            <h3 class="title"> Crash List </h3>
                                        </div>
                                        <section class="example">
                                            <div class="table-flip-scroll">
                                                <table class="table table-striped table-bordered table-hover flip-content">
                                                    <thead class="flip-header">
                                                        <tr>
                                                            <th>IDX</th>
                                                            <th>Fuzzer</th>
                                                            <th>Title</th>
                                                            <th>Target</th>
                                                            <th>Latest report</th>
                                                            <th>Duplicated crashes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if crash_list %}
                                                        {% for crash in crash_list %}
                                                        <tr class="odd gradeX">
                                                            <td>{{ crash.id }}</td>
                                                            <td><a href="/fuzzer/{{ crash.fuzzer.id }}">{{ crash.fuzzer.name }}</a></td>
                                                            <td><a href="/crash/{{ crash.id }}">{{ crash.title|truncatechars:30 }}</a></td>
                                                            <td>{{ crash.fuzzer.target }}</td>
                                                            <td>{{ crash.reg_date|timesince }} ago</td>
                                                            <td>{{ crash.dup_crash_cnt }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="btn-group btn-group-lg">
                                                <button type="button" class="btn btn-secondary"> < </button>
                                                <button type="button" class="btn btn-secondary">1</button>
                                                <button type="button" class="btn btn-secondary">2</button>
                                                <button type="button" class="btn btn-secondary">3</button>
                                                <button type="button" class="btn btn-secondary">4</button>
                                                <button type="button" class="btn btn-secondary">5</button>
                                                <button type="button" class="btn btn-secondary">6</button>
                                                <button type="button" class="btn btn-secondary">7</button>
                                                <button type="button" class="btn btn-secondary">8</button>
                                                <button type="button" class="btn btn-secondary">9</button>
                                                <button type="button" class="btn btn-secondary">10</button>
                                                <button type="button" class="btn btn-secondary"> > </button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                {% endblock %}