                {% extends 'web/base.html' %}

                {% block content %}

                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Crash Report <a href="/crash/"><button type="button" class="btn btn-info-outline pull-right">Back to list</button></a> </h3>
                                    <hr>
                                    </div>
                                    <form role="form" method="POST" action="">
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Crash Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.title }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Reported Date</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.reg_date|timesince }} ago</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Target</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.fuzzer.target }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Fuzzer Name</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.fuzzer.name }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Crash Log</label>
                                            </div>
                                            <div class="col-10">
                                                <textarea rows="3" class="form-control boxed" onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ crash.crash_log }}</textarea>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Download Testcase</label>
                                            </div>
                                            <div class="col-10">
                                                <a href="/crash/{{ crash.id }}/download"><button type="button" class="btn btn-info-outline">Download</button></a>
                                                <button type="button" id="generate_otu" onclick="request_url()" class="btn btn-success-outline">Share</button>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">File Size</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.crash_file.size|filesizeformat }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Crash Hash</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ crash.title_hash }}</p>
                                            </div>
                                        </div>

                                        {% if crash.is_dup_crash %}
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">First Unique crash</label>
                                            </div>
                                            <div class="col-10">
                                                Go to <a href="/crash/{{ crash.parent_idx }}">Unique crash page</a>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Duplicate Crash</label>
                                            </div>
                                            <div class="col-10">
                                                {{ crash.dup_crash_cnt }} crashes
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Comment</label>
                                            </div>
                                            <div class="col-10">
                                                <textarea name="comment" rows="3" class="form-control boxed" onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ crash.comment }}</textarea>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                            </div>
                                            <div class="col-10">
                                                <button type="submit" class="btn btn-info-outline btn-lg btn-block" data-target="#confirm-modal"> Save </button>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <a href="/crash/">
                                                    <button type="button" class="btn btn-warning-outline btn-lg btn-block"> Back to list </button>
                                                </a>
                                            </div>
                                        </div>
                                    {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                {% if dup_crash_list or crash.is_dup_crash %}
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Duplicate crash list </h3>
                                    </div>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Filename</th>
                                                <th>Hash</th>
                                                <th>Size</th>
                                                <th>Date</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for dup_crash in dup_crash_list %}
                                        <tr>
                                            <th scope="row"><a href="/crash/{{ dup_crash.id }}">{{ dup_crash.id }}</a></th>
                                            <td>{{ dup_crash.crash_file }}</td>
                                            <td>{{ dup_crash.file_hash }}</td>
                                            <td>{{ dup_crash.crash_file.size|filesizeformat }}</td>
                                            <td>{{ dup_crash.reg_date }}</td>
                                            <td class="align-content-center">
                                                <a href="/api/v1/crash/{{ dup_crash.id }}/download">
                                                    <i class="fa fa-cloud-download icon"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="btn-group btn-group-lg">
                                        {% if dup_crash_list.has_previous %}
                                        <button type="button" class="btn btn-secondary" onclick="location.href='/crash/{{ crash.id }}?p={{ dup_crash_list.previous_page_number }}';"> < </button>
                                        {% endif %}
                                        {% for index in page_range %}
                                        {% if dup_crash_list.number == index %}
                                        <button type="button" class="btn btn-secondary active" onclick="location.href='/crash/{{ crash.id }}?p={{ index }}';"> {{ index }} </button>
                                        {% else %}
                                        <button type="button" class="btn btn-secondary" onclick="location.href='/crash/{{ crash.id }}?p={{ index }}';"> {{ index }} </button>
                                        {% endif %}
                                        {% endfor %}
                                        {% if dup_crash_list.has_next %}
                                        <button type="button" class="btn btn-secondary" onclick="location.href='/crash/{{ crash.id }}?p={{ dup_crash_list.next_page_number }}';"> > </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
                </article>

                <script>
                function request_url(event) {
                    $.ajax({
                        url : '/crash/generate_url',
                        type: 'POST',
                        data : {"csrfmiddlewaretoken": "{{ csrf_token }}", "idx":{{ crash.id }} },
                        success:function(data){
                            prompt("Copy to clipboard: Ctrl+C, Enter", data['url']);
                        }
                    });
                }
                </script>

                {% endblock %}