                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> Fuzzer </h1>
                        <p class="title-description"> Manage your fuzzer.</p>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title-block">
                                            <h3 class="title"> Fuzzer List <a href="/admin/api/fuzzer/add/"><button type="button" class="btn btn-info-outline pull-right">Add New Fuzzer</button></a></h3>
                                        </div>
                                        <section class="example">
                                            <div class="table-flip-scroll">
                                                <table class="table table-striped table-bordered table-hover flip-content">
                                                    <thead class="flip-header">
                                                        <tr>
                                                            <th>IDX</th>
                                                            <th>Name</th>
                                                            <th>Running</th>
                                                            <th>Target</th>
                                                            <th>Crashes</th>
                                                            <th>Last report</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if fuzzer_list %}
                                                        {% for fuzzer in fuzzer_list %}
                                                        <tr class="odd gradeX">
                                                            <td>{{ fuzzer.id }}</td>
                                                            <td><a href="/fuzzer/{{ fuzzer.id }}">{{ fuzzer.name }}</a></td>
                                                            {% if fuzzer.ping_date|date:"U" > active_time|date:"U" %}
                                                            <td>Active</td>
                                                            {% else %}
                                                            <td>Inactive</td>
                                                            {% endif %}
                                                            <td>{{ fuzzer.target|truncatechars:30 }}</td>
                                                            <td>{{ fuzzer.crash_cnt }}</td>
                                                            <td>{{ fuzzer.ping_date|timesince }} ago</td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="btn-group btn-group-lg">
                                                {% if fuzzer_list.has_previous %}
                                                <button type="button" class="btn btn-secondary" onclick="location.href='/fuzzer?p={{ fuzzer_list.previous_page_number }}';"> < </button>
                                                {% endif %}
                                                {% for index in page_range %}
                                                {% if fuzzer_list.number == index %}
                                                <button type="button" class="btn btn-secondary active" onclick="location.href='/fuzzer?p={{ index }}';"> {{ index }} </button>
                                                {% else %}
                                                <button type="button" class="btn btn-secondary" onclick="location.href='/fuzzer?p={{ index }}';"> {{ index }} </button>
                                                {% endif %}
                                                {% endfor %}
                                                {% if fuzzer_list.has_next %}
                                                <button type="button" class="btn btn-secondary" onclick="location.href='/fuzzer?p={{ fuzzer_list.next_page_number }}';"> > </button>
                                                {% endif %}
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                {% endblock %}