                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Fuzzer Configuration <a href="/admin/api/fuzzer/{{ fuzzer.id }}"><button type="button" class="btn btn-info-outline pull-right">Go to preference</button></a> </h3>
                                    <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Fuzzer Name</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.name }}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Target</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.target }}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Status</label>
                                            </div>
                                            <div class="col-10">
                                                {% if fuzzer.ping_date|date:"U" > active_time|date:"U" %}
                                                <p class="text-muted">Active</p>
                                                {% else %}
                                                <p class="text-muted">Inactive</p>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Public IP</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.public_ip }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Private IP</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.private_ip }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Crash Count</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.crash_cnt }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Registration Date</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> {{ fuzzer.reg_date|date }} {{ fuzzer.reg_date|time }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Last Ping</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> {{ fuzzer.ping_date|timesince }} ago</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">API KEY</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ fuzzer.api_key }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <a href="/fuzzer/">
                                                    <button type="button" class="btn btn-warning-outline btn-lg btn-block"> Back to list </button>
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                {% endblock %}