                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Fuzzer Configuration <a href="/fuzzer/"><button type="button" class="btn btn-info-outline pull-right">Back to list</button></a> </h3>
                                    <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Fuzzer Name</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">sweetfuzz-browser-jsc01</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Target</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">Safari JSC</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Public IP</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">212.31.5.44</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Status</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">Running</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Private IP</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">192.168.0.122</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Crash Count</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">5521</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Testcase Count</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">515241921</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Registration Date</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> 2018.03.31 18:31:22</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Last Ping</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted"> 2018.03.31 18:31:22</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">API KEY</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">AEAE379A6E857728E44164267FDB7A0E27B205D757CC19899586C89DBB221930F1813D02FF93A661859BC17065EAC4D6EDF3C38A034E6283A84754D52917E5B0</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <a href="/fuzzer/">
                                                    <button type="button" class="btn btn-warning-outline btn-lg btn-block"> Back to list </button>
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                {% endblock %}