                {% extends 'web/base.html' %}
                {% load humanize %}
                {% block content %}
                <script>
                {% autoescape off %}
                var dataVisits = {{ last_7day_crashes_dict }};
                {% endautoescape %}
                </script>
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content dashboard-page">
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> Stats </h4>
                                            <p class="title-description"> Check your statistics!</p>
                                        </div>
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-users"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ user.count|intcomma }} </div>
                                                    <div class="name"> Total users </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-rocket"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ fuzzer.count|intcomma }} </div>
                                                    <div class="name"> Fuzzers </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-bug"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ crash.count|intcomma }} </div>
                                                    <div class="name"> Crashes </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-bug"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ unique_crash.count|intcomma }} </div>
                                                    <div class="name"> Unique Crashes </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-list-alt"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ storage_list.count }} </div>
                                                    <div class="name"> Files </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-dollar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> {{ last_crash.reg_date|timesince  }} ago </div>
                                                    <div class="name"> Last crash </div>
                                                </div>
                                                <div class="progress stat-progress">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
                                <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                                    <div class="card-header card-header-sm bordered">
                                        <div class="header-block">
                                            <h3 class="title">History</h3>
                                        </div>
                                        <ul class="nav nav-tabs pull-right" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#visits" role="tab" data-toggle="tab">Crashes</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active fade show" id="visits">
                                                <p class="title-description"> Number of unique crashes last 7 days </p>
                                                <div id="dashboard-visits-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col-xl-12">
                                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                                    <div class="card-header bordered">
                                        <div class="header-block">
                                            <h3 class="title"> Recent Crash Logs </h3>
                                            <a href="/crash/" class="btn btn-primary btn-sm"> Go to list </a>
                                        </div>
                                    </div>
                                    <ul class="item-list striped">
                                        <li class="item item-list-header">
                                            <div class="item-row">
                                                <div class="item-col item-col-header item-col-title">
                                                    <div>
                                                        <span>Title</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-sales">
                                                    <div>
                                                        <span>Fuzzer</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-stats">
                                                    <div class="no-overflow">
                                                        <span>Duplicate Crash Count</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-date">
                                                    <div>
                                                        <span>Report date</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% for crash in crash_list %}
                                        {% if forloop.counter <= 5 %}
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-title no-overflow">
                                                    <div>
                                                        <a href="/crash/{{ crash.id }}" class="">
                                                            <h4 class="item-title no-wrap"> {{ crash.title|truncatechars:30 }} </h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-sales">
                                                    <div> {{ crash.fuzzer.name }} </div>
                                                </div>
                                                <div class="item-col item-col-stats">
                                                    <div> {{ crash.dup_crash_cnt }} </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> {{ crash.reg_date|timesince }} </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section map-tasks">
                        <div class="row sameheight-container">
                            <div class="col-xl-8">
                                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                                    <div class="card-header bordered">
                                        <div class="header-block">
                                            <h3 class="title"> Fuzzer list </h3>
                                            <a href="/fuzzer/" class="btn btn-primary btn-sm"> Go to list </a>
                                        </div>
                                    </div>
                                    <ul class="item-list striped">
                                        <li class="item item-list-header">
                                            <div class="item-row">
                                                <div class="item-col item-col-header item-col-title">
                                                    <div>
                                                        <span>Fuzzer Name</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-sales">
                                                    <div>
                                                        <span>Target</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-sales">
                                                    <div>
                                                        <span>Status</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-stats">
                                                    <div class="no-overflow">
                                                        <span>Crash Count</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-date">
                                                    <div>
                                                        <span>Last Ping date</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% for fuzzer in fuzzer_list %}
                                        {% if forloop.counter <= 10 %}
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-title no-overflow">
                                                    <div>
                                                        <a href="/fuzzer/{{ fuzzer.id }}" class="">
                                                            <h4 class="item-title no-wrap"> {{ fuzzer.name|truncatechars:30 }} </h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-sales">
                                                    <div> {{ fuzzer.target }} </div>
                                                </div>
                                                <div class="item-col item-col-sales">
                                                {% if fuzzer.ping_date|date:"U" > active_time|date:"U" %}
                                                    <div>Active</div>
                                                {% else %}
                                                    <div>Inactive</div>
                                                {% endif %}
                                                </div>
                                                <div class="item-col item-col-stats">
                                                    <div> {{ fuzzer.crash_cnt }} </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> {{ fuzzer.ping_date|timesince }} </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card tasks sameheight-item" data-exclude="xs,sm">
{#                                    <div class="card-header bordered">#}
{#                                        <div class="header-block">#}
{#                                            <h3 class="title"> Server Statistics </h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <ul class="item-list striped">#}
{#                                        <li class="item">#}
{#                                            <div class="item-row">#}
{#                                                <div class="item-col item-col-date col-md-4">#}
{#                                                    <div> Disk Space </div>#}
{#                                                </div>#}
{#                                                <div class="item-col item-col-date">#}
{#                                                    <div> 10.11GB </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="item">#}
{#                                            <div class="item-row">#}
{#                                                <div class="item-col item-col-date col-md-4">#}
{#                                                    <div> Memory </div>#}
{#                                                </div>#}
{#                                                <div class="item-col item-col-date">#}
{#                                                    <div> 16G / 10.2G </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="item">#}
{#                                            <div class="item-row">#}
{#                                                <div class="item-col item-col-date col-md-4">#}
{#                                                    <div> CPU Load </div>#}
{#                                                </div>#}
{#                                                <div class="item-col item-col-date">#}
{#                                                    <div> 0% </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
                                    <div class="card-header bordered">
                                        <div class="header-block">
                                            <h3 class="title"> About SWEETMON2</h3>
                                        </div>
                                    </div>
                                    <ul class="item-list striped">
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-date col-md-4">
                                                    <div> Author </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> sweetchip </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-date col-md-4">
                                                    <div> Blog </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> <a href="http://blog.sweetchip.kr">http://blog.sweetchip.kr</a></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-date col-md-4">
                                                    <div> Github </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> <a href="http://github.com/sweetchipsw">http://github.com/sweetchipsw</a></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="card-header bordered">
                                        <div class="header-block">
                                            <h3 class="title">Donation</h3>
                                        </div>
                                    </div>
                                    <ul class="item-list striped">
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-date col-md-4">
                                                    <div> Bitcoin </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> 1M7usjq5PNz7vjWz1oyyzj2VHwKC6EmSsi </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="item-row">
                                                <div class="item-col item-col-date col-md-4">
                                                    <div> Ethereum </div>
                                                </div>
                                                <div class="item-col item-col-date">
                                                    <div> 0x93357b84488DDC8D52e2C6E51dF745B026F95B71 </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                {% endblock %}