                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> Storage </h1>
                        <p class="title-description"> Distribute your fuzzer and testcase! </p>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title-block">
                                            <h3 class="title"> File List <a href="/admin/api/storage/add/"><button type="button" class="btn btn-info-outline pull-right">Upload New File</button></a></h3>
                                        </div>
                                        <section class="example">
                                            <div class="table-flip-scroll">
                                                <table class="table table-striped table-bordered table-hover flip-content">
                                                    <thead class="flip-header">
                                                        <tr>
                                                            <th>IDX</th>
                                                            <th>Title</th>
                                                            <th>File Name</th>
                                                            <th>File Size</th>
                                                            <th>Registration Date</th>
                                                            <th>Download Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if storage_list %}
                                                        {% for storage in storage_list %}
                                                        <tr class="odd gradeX">
                                                            <td>{{ storage.id }}</td>
                                                            <td><a href="/storage/1">{{ storage.title }}</a></td>
                                                            <td>{{ storage.original_name }}</td>
                                                            <td>{{ storage.file.size|filesizeformat }}</td>
                                                            <td>{{ storage.reg_date|timesince }} ago</td>
                                                            <td>{{ storage.download_count }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="btn-group btn-group-lg">
                                                <button type="button" class="btn btn-secondary"> < </button>
                                                <button type="button" class="btn btn-secondary">1</button>
                                                <button type="button" class="btn btn-secondary">2</button>
                                                <button type="button" class="btn btn-secondary">3</button>
                                                <button type="button" class="btn btn-secondary">4</button>
                                                <button type="button" class="btn btn-secondary">5</button>
                                                <button type="button" class="btn btn-secondary">6</button>
                                                <button type="button" class="btn btn-secondary">7</button>
                                                <button type="button" class="btn btn-secondary">8</button>
                                                <button type="button" class="btn btn-secondary">9</button>
                                                <button type="button" class="btn btn-secondary">10</button>
                                                <button type="button" class="btn btn-secondary"> > </button>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                {% endblock %}