                {% extends 'web/base.html' %}

                {% block content %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content responsive-tables-page">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title"> Storage  <a href="/storage/"><button type="button" class="btn btn-warning-outline pull-right"><i class="fa fa-arrow-left"></i> Back to list</button></a> </h3>
                                    <hr>
                                    </div>
                                    <form role="form">
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Title</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.title }}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">filename</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.get_filename }}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Hash</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.hash }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">File Size</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.file.size|filesizeformat }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Download</label>
                                            </div>
                                            <div class="col-10">
                                                <a href="/storage/{{ storage.id }}/download"><button type="button" class="btn btn-info-outline"><i class="fa fa-cloud-download"></i> Download</button></a>
                                                <button type="button" id="generate_otu" onclick="request_url()" class="btn btn-success-outline"><i class="fa fa-share"></i> Share</button>

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Registration Date</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.reg_date|timesince }} ago </p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Download Count</label>
                                            </div>
                                            <div class="col-10">
                                                <p class="text-muted">{{ storage.download_count }}</p>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-2">
                                                <label class="control-label">Comment</label>
                                            </div>
                                            <div class="col-10">
                                                <textarea rows="3" class="form-control boxed" onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ storage.comment }}</textarea>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <a href="/admin/api/storage/{{ storage.id }}" style="text-decoration:none">
                                                    <button type="button" class="btn btn-info-outline btn-lg btn-block"><i class="fa fa-arrow-right"></i> Go to preference </button>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <a href="/storage/" style="text-decoration:none">
                                                    <button type="button" class="btn btn-warning-outline btn-lg btn-block"><i class="fa fa-arrow-left"></i> Back to list </button>
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <script>
                function request_url(event) {
                    $.ajax({
                        url : '/storage/generate_url',
                        type: 'POST',
                        data : {"csrfmiddlewaretoken": "{{ csrf_token }}", "idx":{{ storage.id }} },
                        success:function(data){
                            prompt("Copy to clipboard: Ctrl+C, Enter", data['url']);
                        }
                    });
                }
                </script>

                {% endblock %}